# Application Settings
PROJECT_NAME="Gopam Backend API"
VERSION="0.1.0"
SECRET_KEY="YOUR_VERY_SECRET_KEY_HERE"
ALGORITHM="HS256"

# Database Settings
# Replace 'user', 'password', 'localhost', and 'gopam' with your actual values
DATABASE_URL="postgresql+psycopg://user:password@localhost:5432/gopam"